:host {
  height: 100%;
  width: 300px;
  padding-left: 20px;
}

.list {
  &__title {
    margin-bottom: 25px;
    text-align: center;
    font-size: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
  }
}
